.App {
    display: flex; 
    justify-content: center; /* Horizontal center sub element*/
    align-items: center; /* Vertical center sub element*/
    flex-direction: column; /* Vertical align sub element */
    height: 100vh; /* Fill the entire height of the viewport */
    position: relative;
    text-align: center;
  
    --container-width: 468px; 
    --container-height: 260px; 
}
  
.container {
    text-align: center;
    width: calc(var(--container-width));
    height: calc(var(--container-height));
    margin: auto;
    border: 3px solid black;
}

/* Two white triangle to cover the rectangle */
.cover-container {
    position: absolute;
    border-bottom: calc(var(--container-height)) solid transparent;
    border-left: calc(var(--container-width) / 2) solid white;
    border-right: calc(var(--container-width) / 2) solid white;
    z-index: 10; /* Let it override container */
}

.color-bar {
    display: flex; /* flex container */
    justify-content: center; /* Horizontal center sub element*/
    align-items: center; /* Vertical center sub element*/
    height: 40px;
    width: 100%;
}

/* Set background color for each element */
.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.brown {
    background-color: brown;
}

.green {
    background-color: green;
}

/* Set style for spacer */
.spacer {
    background-color: white;
    height: 10px;
    width: 100%;
}

.btn {
    position: relative;
    width: 25px; /* Width should be same as heighth */
    height: 25px; 
    border-radius: 50%; /* Make the border into radius*/
    z-index: 20;  /* Let button higher than override-container */
  }
  
.ctrl{
    cursor: pointer; /*  When hover, the cusor is a pointer */
}
  
.num{
    pointer-events: none; /* Ban clicking */
}